*.tfstate
*.lock
*.key
*.demo-key
*.demo-key.pub
*.lock.hcl

# Ignore a specific file
exercise1/.terraform/providers/registry.terraform.io/hashicorp/aws/5.17.0/windows_amd64/terraform-provider-aws_v5.17.0_x5.exe

# Ignore all files in a directory
exercise1/.terraform/providers/registry.terraform.io/hashicorp/aws/5.17.0/windows_amd64/
exercise2/.terraform/providers/registry.terraform.io/hashicorp/aws/5.17.0/windows_amd64/
exercise3/.terraform/providers/registry.terraform.io/hashicorp/aws/5.17.0/windows_amd64/
exercise1/.terraform/providers/registry.terraform.io/hashicorp/aws/5.17.0/windows_amd64/terraform-provider-aws_v5.17.0_x5.exe